*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding: 30px;
    background: #28b4e2;
    color: #fff;
    margin-bottom:  10px;
}

a{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    color: red; 
}


/*login*/

.btn-login{
    padding: 30px;
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    margin: 1em auto;
}

.btn-login .form-login{
    margin: auto;
    padding: 10px;
}

.btn-login .form-login p{
    margin: 1em auto;
    padding: 2px;
}

.btn-resposta{
    padding: 30px;
    border-radius: 3px;
    margin: 1em auto;
    color: rgb(213, 27, 27);
    text-align: center;
    font-size: 30;
}

.btn-cliente{
    padding: 30px;
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    margin: 1em auto;
}

.btn-cliente .form-login{
    margin: auto;
    padding: 10px;
}

.btn-cliente .form-login div{
    margin: 0.3em auto;
    padding: 10px;
}

.btn-cliente .form-login p{
    margin: 1em auto;
    padding: 2px;
}
