*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding: 30px;
    background: #28b4e2;
    color: #fff;
    margin-bottom:  10px;
}

a{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    color: red; 
}


/*login*/

.btn-login{
    padding: 30px;
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    margin: 1em auto;
}

.btn-login .form-login{
    margin: auto;
    padding: 10px;
}

.btn-login .form-login p{
    margin: 1em auto;
    padding: 2px;
}

.btn-resposta{
    padding: 30px;
    border-radius: 3px;
    margin: 1em auto;
    color: rgb(213, 27, 27);
    text-align: center;
    font-size: 30;
}


.btn-cliente table{
    margin: 0 auto; 
    border-collapse: none;
   
    
}
.btn-result{
    margin-top: 30px;
    border: none;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    
}
.btn-result table tr th{
    border: 1px solid #000;
    background-color: rgb(95, 100, 100);
    padding: 5px;
    
    color: #fff;
}

.btn-result table tr td{
    border: 1px solid #000;
    background-color: rgb(218, 220, 220);
    padding: 5px;
    color: #000;
}

.btn-cliente table tr th{
    border: 1px solid #333;
}
.td{
    border: 1px solid #333;
}
.resposta{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    color:blueviolet;
}

.btn-cliente{
    padding: 30px;
    border: 1px solid black;
    width: 200px;
    border-radius: 3px;
    margin: 1em auto;
}

.btn-cliente .form-login{
    margin: auto;
    padding: 10px;
}

.btn-cliente .form-login div{
    margin: 0.3em auto;
    padding: 10px;
}

.btn-cliente .form-login p{
    margin: 1em auto;
    padding: 2px;
}

.table-cliente{
    margin-bottom: 20px;
    margin-top: 30px;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    display: flex;
    justify-content: baseline;
}
